node_modules/
package-lock.json
*.pydevproject
.project
.metadata
.phprc
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
npm-debug.log
.settings/
.loadpath
*.idea
.idea/
.scannerwork/
sonar-project.properties
.externalToolBuilders/
*.launch
.cproject
.buildpath
*.sublime-project
*.sublime-workspace
sftp-config.json
sftp-config-alt.json
.svn/
/*.iml
*.ipr
*.iws
.idea_modules/
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.gradle
.target
.texlipse
.DS_STORE
yarn-error.log
Generated_Code/
*.Cache
DocProject/buildhelp/
DocProject/Help/*.HxT
DocProject/Help/*.HxC
DocProject/Help/*.hhc
DocProject/Help/*.hhk
DocProject/Help/*.hhp
DocProject/Help/Html2
DocProject/Help/html
*.dotCover
_TeamCity*
*.cachefile
*.remote-sync.json
.noderc
.npmrc
