<!DOCTYPE html>
<html lang="fr" dir="ltr">
<head>
  <style>html{visibility:hidden;opacity:0;}</style>
  <meta charset="UTF-8">
  <meta name="robots" content="noindex, nofollow">
  <meta name="google" content="notranslate">
  <link rel="icon" type="image/x-icon" href="./assets/imgs/favicon.png">
  <!--[if (IEMobile)]>
  <meta http-equiv="cleartype" content="on">
  <![endif]-->
  <title>home</title>
  {% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="./assets/stylesheets/layouts/main.css" media="not print">
  {% endblock %}
</head>
<body>
{% block page %}{% endblock %}
{% block scripts %}
  <script src="./assets/scripts/layouts/main.js" defer></script>
{% endblock %}
</body>
</html>
